.wishlist-content {
    margin: 20px;
    
    .w-title {
        border-bottom: 1px solid $border-color;
        margin-bottom: 20px;
        font-size: 20px;
        padding: 7px 2px;
    }
}

.my-wishlist {
    border: 1.5px solid $border-color-2;
    border-radius: 10px;
    padding: 15px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    .product-wishlist {
        overflow: hidden;
        width: 100%;
    
        .wishlist-details {
            display: inline-flex;
            width: 55%;
    
            a {
                text-decoration: none;
    
                img {
                    width: 150px;
                    padding-left: 20px;
                }
            }
            
            .product-title {
                margin-top: 20px;
                padding-left: 10px;
                font-size: 20px;
    
                .wishlist-description {
                    height: 50px;
                    width: 500px;
    
                    a {
                        text-decoration: none;
                        color: $text-color-2;                       
                    }                 
                }        
            }
        }
    
        .wishlist-btn {
            float: right;
            cursor: pointer;
            
            .col-btn {
                display: flex;
                padding-right: 20px;
                padding-left: 20px;
                font-size: 14px;
                
                .social-media-btn {
                    margin-top: 80px;
                }
            }
        }
    }
}