footer{
    height: 70px;
    padding: 20px;
    margin-top: 10px;
    color: $text-color-2;
    background: $background-color;
    text-align: center;
    border-top: solid 1px $primary-color;
    clear: both;
}