// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* variables */
$primary-color: #e8491d;
$secondary-color: #303030;
$tertiary-color: #ffffff;
$text-color-1: #808080;
$text-color-2: #000000;
$text-color-3: #707070;
$border-color: #a9a9a9;
$border-color-2: #dcdcdc;
$background-color: #d3d3d3;
$background-color-2: #ff0000;
$background-color-3: #fa8072;
$background-color-4: #f2f2f2;
$background-color-5: #686868;
$drop-menu-color: #e8e8e8;
$fb-color: #3B5998;
$twitter-color: #00acee;
$instagram-color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;
$watsapp-color: #25d366;
$google-color: #dd4b39;
$paypal-color: #003087;
$button-1: #00ced1;
$button-opacity: 0.9;
$image-opacity: 1;
$radius: 4px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
