/* Products also bought */
.products-also-bought {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    .products-container {
        margin-left: auto;
        margin-right: auto;
    }

    .also-bought-title p {
        font-size: 20px;
        font-weight: bold;
    }
}

