.nav-bar {
    overflow: hidden;
    background-color: $secondary-color;
   
    .drop-menu-container {
        list-style: none;
        display: flex;
        padding: 0px;
        margin: 0px;

        li {
            width: 20%;
            line-height: 40px;
            text-align: center;
  
            a {
                text-decoration: none;
                color: $tertiary-color;
                letter-spacing: 2px;

                &:hover {
                    color: $primary-color;
                }
            }

            .drop-down {
                display: none;
                position: absolute;
                background-color: $drop-menu-color;
                min-width: 20%;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
        
                a {                
                    float: none;
                    color: $text-color-1;
                    padding: 2px 14px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    text-decoration: none;
                    cursor: pointer;
               
                    &:hover {
                        color: $primary-color;
                                 
                    }

                    &:before {
                        content: '>';
                        padding-right: 15px;
                    }
                }
            }

            &:hover .drop-down {
                display: block;
            }
        }

        .bars-icon {
            display: none;
        }
    }
    
    .fa-caret-down {
        padding-left: 10px;
    }
}